body{
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: rgb(226, 216, 216);
}
h1{
    color: rgb(8, 2, 0);
    text-align: center;


}
.Calculator{
    width: 200px;
    height: 70px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(240, 234, 234);
}

.first_row{
    width: 50px;
}

.second_row{
    width: 50px;
}

.third_row{
    width: 50px;
}

.fourth_row{
    width: 50px;
}

.fifth_row{
    width: 50px;
}




